<div class="col-xl-4 col-lg-6 col-xs-12 card_single">
    <div class="card_single_inner-cont">
      <h1>{{#link-to 'calculators.estimate-take-home-pay' class="card_title"}}Estimate Take-Home Pay{{/link-to}}</h1>
    </div>
</div>