<div class="col-lg-4 col-md-6 col-sm-12 card">
  <a href={{link}} target="_blank">
    <div class="card__inner-cont">
      <h6 class="card__title">
        {{name}}
      </h6>
      <h6 class="card__type">
        Last visited <strong>{{lastVisited}}</strong>
      </h6>
    </div>
  </a>
</div>