{{card-filter
  filterButtons=filterButtons
  updateCardList=(action filterCards)
}}


<div class="scrollable card__container__inner">
  {{#each filteredCardList as |card|}}
    {{card-single
      title=card.title
      description=card.description
      comingSoon=card.comingSoon
      link=card.link
      type=card.type
    }}
  {{/each}}
</div>
