<div class="col-xl-4 col-md-6 col-xs-12 card_single">
  {{#link-to 'calculators.estimate-take-home-pay' }}
    <div class="card_single_inner-cont">
      <h2 class="card_title">
        Estimate Take-Home Pay <i>Before</i> Your First Paycheck
      </h2>
      <hr>
      <p>You landed your first job</p>
    </div>
   {{/link-to}}
</div>