<div class="col-xl-12 card_single">
  {{#link-to link}}
    <div class="card_single_inner-cont">

      {{#if comingSoon}}
        <h6 class="card_coming-soon">Coming Soon</h6>
      {{/if}}

      <h2 class="card_title">
        {{title}}
      </h2>
      <hr>
      <p class="card_desc">{{description}}</p>
      <h6 class="card_type">{{type}}</h6>


    </div>
  {{/link-to}}
</div>