<div class="col-xl-12 card_single">
  {{#link-to link}}
    <div class="card_single_inner-cont">
      <h2 class="card_title">
        {{title}}
      </h2>
      <hr>
      <p>{{description}}</p>
    </div>
  {{/link-to}}
</div>