<select class="dropdown-select">
 {{!--  {{log optionsObject}} --}}
  {{#each optionsObject as |item|}}
      <option class="dropdown-select_option" value={{item}}>
        {{item}}
      </option>
  {{/each}}
</select>