<!--Begin CTCT Sign-Up Form-->
<!-- EFD 1.0.0 [Sun Aug 20 13:08:39 EDT 2017] -->
<div class="ctct-embed-signup">
   <div>

       {{!-- SUCCESS MESSAGE --}}
       <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>

      {{!-- EMAIL SIGN UP FORM --}}
       <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">

           <!-- The following code must be included to ensure your sign-up form works properly. -->
           <input data-id="ca:input" type="hidden" name="ca" value="a33eedf2-023b-4cfd-8b1d-a7cea142e493">
           <input data-id="list:input" type="hidden" name="list" value="1736960362">
           <input data-id="source:input" type="hidden" name="source" value="EFD">
           <input data-id="required:input" type="hidden" name="required" value="list,email">
           <input data-id="url:input" type="hidden" name="url" value="">

          <!-- Email Input -->
          <p data-id="Email Address:p" >
            <input data-id="Email Address:input" type="text" name="email" placeholder="e.g. bernie@madoff.com" value="" maxlength="80">
             {{!-- <label data-id="Email Address:label" data-name="email" class="ctct-form-required">
              Email Address
            </label> --}}
          </p>

          <!-- Submit -->
          <div class="form__submit">
            <button class="button__submit" type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">
              <h6>GET STARTED</h6>
            </button>
            <div>
              <p class="ctct-form-footer form__footer">
                No spam, no worries.
              </p>
            </div>
        </div>
       </form>
   </div>
</div>
<script type='text/javascript'>
   var localizedErrMap = {};
   localizedErrMap['required'] =    'This field is required.';
   localizedErrMap['ca'] =      'An unexpected error occurred while attempting to send email.';
   localizedErrMap['email'] =       'Please enter your email address in name@email.com format.';
   localizedErrMap['birthday'] =    'Please enter birthday in MM/DD format.';
   localizedErrMap['anniversary'] =   'Please enter anniversary in MM/DD/YYYY format.';
   localizedErrMap['custom_date'] =   'Please enter this date in MM/DD/YYYY format.';
   localizedErrMap['list'] =      'Please select at least one email list.';
   localizedErrMap['generic'] =     'This field is invalid.';
   localizedErrMap['shared'] =    'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
   localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
  localizedErrMap['state_province'] = 'Select a state/province';
   localizedErrMap['selectcountry'] =   'Select a country';
   var postURL = 'https://visitor2.constantcontact.com/api/signup';
</script>
<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
<!--End CTCT Sign-Up Form-->