
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <div id="guide-title-container">
      <h3 id="guide-title">{{#link-to guide.link}}{{guide.title}}{{/link-to}}</h3>
    </div>

    {{#each guide.modules as |module| }}

      {{#link-to module.link tagName="li" class="sidebar-module"}}
       <h4 class="sidebar-module-title"> {{module.title}}</h4>
      {{/link-to}}


      {{#each module.sections as |section| }}
        {{#link-to section.link tagName="li" class="sidebar-section"}}
          <h5 class="sidebar-section-title">{{section.title}}</h5>
        {{/link-to}}

      {{/each}}

    {{/each}}
  </ul>
</div>

