<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}{{/link-to}}
      {{#link-to 'portals' id="demo-btn" class="nav-link"}} Demo{{/link-to}}
    </div> <!-- navbar-header -->
  </div><!-- /.container-fluid -->
</nav>
