<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{#link-to 'index' class="navbar-brand"}}
        <img src="/assets/images/fjf-logo.png" width="40" height="40" alt="text"/>
      {{/link-to}}
    </div> <!-- navbar-header -->

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
         {{#link-to 'portals' class="nav-link"}}
            Portals
          {{/link-to}}
        </li>
        <li class="nav-item active">
          {{#link-to 'tools.budget' class="nav-link"}}
            Budget
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'checklists' class="nav-link"}}
            Checklists
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'calculators' class="nav-link"}}
            Calculators
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'files' class="nav-link"}}
            Files
          {{/link-to}}
        </li>
      {{!--   <li class="nav-item">
          {{#link-to 'tools.budget' class="nav-link"}}
            Slack
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'tools.budget' class="nav-link"}}
            Links
          {{/link-to}}
        </li> --}}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>














