<div class="container container--main card-container">
  <div class="col-md-12 block--scrollable block--max-width">
    <h1>I want to...</h1>
    {{card-container
      cards=cards
    }}
  </div>
</div>