$row-height: 40px;
$expenseNameWidth: 300px;
$expenseAmountWidth: 150px;
$expensePercentWidth: 110px;
$tableGap: 30px;


#budget-container{


}

@media(min-width: 991px){

    #budget-input{
      padding-top:15px;
    }

    #budget-output{
      padding-top: 25px;
    }
}

@media(min-width:500px){
  #budget-table{
      display:block !important;
  }
}

//=========================
//BUDGET INPUT

#budget-table {
  display:none;
  margin:auto;
  border-collapse: collapse;
  width:$expenseNameWidth + $expenseAmountWidth + $expensePercentWidth + $tableGap;
  overflow:scroll;
  padding:50px 0px 40px 0px;

  #budget-header{
    text-transform: capitalize;
    color:$dark-gray;
    letter-spacing:0.03em;
    font-size:14px;
    border-bottom:2px solid $gray;
    width:100%;
    padding:5px 0px;
  }

  #budget-column-labels{
    background-color:$gray;
    height:$row-height;

    th{
      font-size:10px;
      text-transform: uppercase;
      padding:10px 0px 0px 0px;
      color:$gray;
      letter-spacing:0.05em;
      background-color:$light-gray;
      border-bottom:1px solid $medium-gray;
      text-align:right;
    }

  }

  .budget__column--icon{
    width:50px;
    padding-left:5px;

    &:focus{
      @include focus-no-style
    }

    a{
      text-decoration: none;
    }
  }

  .budget__column--expense-name{
    width:$expenseNameWidth;
    text-align:left !important;
  }

  .budget__column--expense-amount{
    width:$expenseAmountWidth;
    text-align:right;
    padding-right:25px !important;
    letter-spacing:0.05em;
  }

  .budget__column--expense-percent{
    width:$expensePercentWidth;
    text-align:right;
  }

  .budget__column--gap{
    width:$tableGap;
    text-align:right;
  }


  #budget-total{
    font-weight:700;
    color:$medium-black;
    background-color: $light-blue;
    border-top:1px solid $medium-gray;
  }

  .budget__section-total{
    td{
      font-weight:700;
      color:$medium-black;
      background-color: $light-gray;
      border-top:1px solid $medium-gray;
    }
  }


  .fa {
    color:$gray;

    &:hover{
      color:$light-black;
      cursor:pointer;
      text-decoration: none;
    }

    &:focus{
      @include focus-no-style
    }

    &:active{
      @include focus-no-style
    }
  }


  td {
    border-bottom:1px dotted $gray;
    height:$row-height;
  }

  button{
    border:none;
    background-color: transparent;

    &:hover{
      cursor:pointer;
      text-decoration: none;
    }

    &:focus{
      @include focus-no-style
    }

    &:active{
     @include focus-no-style
    }
  }

  .budget__expense {
      td{
        padding:0px 0px 0px 10px;
        height:$row-height - 13px;
      }

      input{
        @include input-basic;
        height:$row-height - 4px;

        &:focus{
          @include input-focus;
        }
      }

      .dollar-sign{
        color: $gray;
      }

      .budget__expense-name{
        width:$expenseNameWidth;

        input{
          width: 95%;
        }
      }

      .budget__expense-amount{
        width:$expenseAmountWidth;
        text-align:right;
        input{
          width: 50%;
          font-weight: 700;
          text-align:right;
        }
      }

      .budget__expense-percent{
        width:$expensePercentWidth;
        text-align:right;
        color: $light-black;
        font-weight:700;
      }
  }

  .budget__add-expense{
    text-align:center;
    width:100%;

    .fa{
      color:$medium-blue;
    }


    &:hover{
      .fa{
        color:$blue;
      }
    }

    button{
      width:100%;
    }
  }




}

//=========================
//BUDGET OUTPUT

#budget-output{
  h3{
    @include text-number-big;
  }

  h4{
    line-height:1.4;
  }

  h5{
    font-size:18px;
    color:$medium-black;
  }

  section {
    @include text-center
  }
}







