
#budget_container{
  background-color: $white;
  font-family: $roboto;

}

@media(min-width: 768px){
    #budget_container{
      overflow:hidden;
      height:100vh - $navbar-height;
    }

    #budget_input, #budget_output{
      overflow:scroll;
      float:left;
      height:100%;
      padding:5vh 0px 20vh 0px;
    }
}

//=========================
//BUDGET INPUT

#budget-table {
  display:block;
  margin:auto;
  border-collapse: collapse;

  #budget-header{
    text-transform: capitalize;
    color:$dark-gray;
    letter-spacing:0.03em;
    font-size:14px;
    border-bottom:2px solid $gray;
    width:100%;
    padding:5px 0px;
  }

  #budget-column-labels{
    background-color:$gray;
    height:40px;

    th{
      font-size:10px;
      text-transform: uppercase;
      padding:10px 0px 0px 0px;
      color:$gray;
      letter-spacing:0.05em;
      background-color:$light-gray;
      border-bottom:1px solid $gray;
      text-align:right;
    }
  }


  .fa {
    color:$dark-gray;

    &:hover{
      color: $light-black;
      cursor:pointer;
      text-decoration: none;
    }

    &:focus{
      @include focus-no-style
    }

    &:active{
      @include focus-no-style
    }
  }

  button{
    border:none;
    background-color: transparent;

    &:hover{
      cursor:pointer;
      text-decoration: none;
    }

    &:focus{
      @include focus-no-style
    }

    &:active{
     @include focus-no-style
    }
  }

  td{
    border-bottom:1px dotted $gray;
  }


  input{
    border:none;

    &:focus{
      @include focus-no-style
      background-color: $light-gray;
    }
  }



  .budget__section-total{
    th{

    }
  }

  .budget-section-percent{

  }

  tr{

  }

    #fixed-expenses-total{
      border-bottom: 3px solid $budget-blue !important;
      color: $budget-blue;
    }

    #savings-total{
      border-bottom: 3px solid $green !important;
      color: $green;
    }

    #variable-expenses-total{
      border-bottom: 3px solid $red !important;
      color: $red;
    }



  .table-desc{


    input{




    }
  }
  .table-currency{


    .dollar-sign{

    }

    input{


        &:focus{
          @include focus-no-style
          background-color: $light-gray;
        }
    }
  }

  .table-icon{



    &:focus{
      @include focus-no-style
    }

    a{
      text-decoration: none;
    }
  }

  .table-gap{

  }

  .table-gap-small{

  }

  .table-gap-row{

  }

}

//=========================
//BUDGET OUTPUT

#budget_output{


  h1{
    @include text-number-big;
  }

  h4{
    line-height:1.4;
  }

  .row{
    @include row--text-center
  }
}







