#calculator_container{
  background-color: $light-blue;
  padding:0px !important;
  max-height:100vh !important;

  @media(min-width: 768px){
    #calculator_container{
      overflow:hidden;
      height:100vh - $navbar-height;
    }

    .calculator_input, .calculator_output {
      overflow:scroll;
      float:left;
      height:100vh;
    }
  }

  h5{
    text-align:center;
    color:$dark-black;
  }

  hr{
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
  }

  section{
    padding:30px 5px;
    // border:2px solid $gray;
    border-radius:2px;
  }

    .calculator_title{
      width:100%;
      text-align:center;
      color:$dark-black;

    }

  section:nth-child(even){
    // background-color: $light-blue;
  }

  .calculator_output{
    padding:70px 0px 10vh 0px !important;
    border-left:4px solid $gray;
    background-color:$light-gray;

    h5{
      display:inline;
      text-align:center;
      color:$white;
    }

    h4{
      font-size:18px;
      vertical-align: middle;
      line-height:1.4;
      text-align:left;
      color:$medium-black;
    }

    h3{
      color: $dark-black;
    }

    h1{
      @include text-number-big;
      font-size:26px !important;
    }


    .row{
      @include text-center
       display: table;
    }

    .col{
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }


  .calculator_input{
    min-height:100%;
    color:$black;
    background-color:$light-blue;
    padding:70px 0px 10vh 0px !important;

    p{
      color:$medium-black;
    }

    select{
      background-color: $light-gray;
      border:1px solid $medium-gray;
      color:$blue;
    }

  }



}