/*=======================================================
COLORS
=======================================================*/
$white: #fff;
$light-gray: #fcfcfc;
$gray: #D8D8D8;
$medium-gray: #F2F2F2;
$dark-gray: #bdbdbd;
$light-black: #a4a4a4;
$medium-black: #6E6E6E;
$dark-black: #414141;
$black: #2E2E2E;

$red: #FE2E64;

$light-blue: #f5f8fa;
.light-blue{background-color:$light-blue !important}

$blue: #00c0f3;
$medium-blue: #8BDAF0;
$blue-gray: #486373;
$blue-grayer: #516b7a;

/* Budget section styling */
$green: #A9F5A9;
$budget-blue: #8EE1FA;
$red: #F5A9A9;

.budget-color-fixed{
  color: $budget-blue !important;
}

.budget-color-variable{
  color: $red !important;
}

.budget-color-savings{
  color: $green !important;
}


/*=======================================================
MEASUREMENTS
=======================================================*/

$navbar-height: 8vh;
$main-padding:2vh;
$max-width:1200px;

@mixin max-width{
  max-width:$max-width;
}

/*=======================================================
TESTING
=======================================================*/

code{
  width:90%;
  line-height:1.2em;
  height:1000px;
}


.testing{
  color: $blue;
  text-transform: uppercase;
}

/*=======================================================
GENERAL MIXINS
=======================================================*/

@mixin dotted-bottom-border {
  border-bottom: 1px dotted $light-black;
}

@mixin number-with-border{
  border:3px solid $blue;
  padding:50px 20px;
  border-radius: 50%;
}

@mixin focus-no-style{
  outline:none !important;
  border:none !important;
}




/*=======================================================
GENERAL
=======================================================*/


body{
  background-color:$white;
  padding-top: 50px !important;
}

.scrollable{
  overflow:scroll;
  height:auto;
}

@media(min-width: 991px) {
    body {
      padding-top: 0px;
      height:100vh;
      overflow:hidden;
    }
}

hr{
  margin:5px;
}

  .line--thick-blue{
    border-top:3px solid $blue;
    width:60%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
  }

main{
  padding:0px !important;
}

.hide{
  display:none !important;
}




/*=======================================================
GENERAL BLOCKS
=======================================================*/

.block--max-width{
  @include max-width;
  display:block;
  margin:auto;

}

.block--padded{
  padding: 50px 0px 0px 0px;
}

.no-padding{
  padding: 0px !important;
}


@mixin block-center{
  display:block;
  margin:auto;
}

/*=======================================================
SECTION
=======================================================*/

section{
  max-width:700px;

  .section__title{
    width:100%;
    text-align:left;
    font-size:12px;
    color:$dark-gray;
    text-transform: none;
    border-bottom:2px solid $gray;
    padding:5px;
    margin-bottom:25px;
  }

  .section__inner-cont{
     padding:20px 5px;
  }
}



/*=======================================================
GENERAL COLOR MODIFIES
=======================================================*/
.background--light-blue{
  background-color: $light-blue;
}

/*=======================================================
GENERAL BUTTONS
=======================================================*/

.button-continue{
  background-color: $black;
  color:$white;
  padding:5px 10px;
  display:block;
}


/*=======================================================
PAGE containers
=======================================================*/

#main-container{
  padding: 0px 0% 0px 0px;
  min-height:100vh;
  background-color:$white;
  max-width:$max-width;
}




























