/*=======================================================
COLORS
=======================================================*/
$white: #fff;
$light-gray: #fcfcfc;
$gray: #D8D8D8;
$medium-gray: #F2F2F2;
$dark-gray: #bdbdbd;
$light-black: #a4a4a4;
$medium-black: #6E6E6E;
$dark-black: #414141;
$black: #2E2E2E;

$red: #FE2E64;

$light-blue: #f5f8fa;
.light-blue{background-color:$light-blue !important}

$blue: #00c0f3;
$medium-blue: #8BDAF0;
$blue-gray: #486373;
$blue-grayer: #516b7a;

/* Budget section styling */
$green: #A9F5A9;
$budget-blue: #8EE1FA;
$red: #F5A9A9;

.budget-color-fixed{
  color: $budget-blue !important;
}

.budget-color-variable{
  color: $red !important;
}

.budget-color-savings{
  color: $green !important;
}


/*=======================================================
MEASUREMENTS
=======================================================*/

$navbar-height: 8vh;
$main-padding:2vh;
$max-width:1300px;

@mixin max-width{
  max-width:$max-width;
}

/*=======================================================
TESTING
=======================================================*/

code{
  width:90%;
  line-height:1.2em;
  height:1000px;
}


.testing{
  color: $blue;
  text-transform: uppercase;
}

/*=======================================================
GENERAL MIXINS
=======================================================*/

@mixin dotted-bottom-border {
  border-bottom: 1px dotted $light-black;
}

@mixin number-with-border{
  border:3px solid $blue;
  padding:50px 20px;
  border-radius: 50%;
}

@mixin focus-no-style{
  outline:none !important;
  border:none !important;
}




/*=======================================================
GENERAL
=======================================================*/


body{
  font-family: 'Open Sans', sans-serif;
  background-color:$light-gray;
  padding-top: 70px !important;
}

@media screen and (max-width: 768px) {
    body {
      padding-top: 0px;
      height:100vh;
    }
}

hr{
  margin:5px;
}

  .line--thick-blue{
    border-top:3px solid $blue;
    width:60%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
  }

main{
  padding:0px !important;
  background-color: $light-blue;
}




/*=======================================================
TEXT/FONTS
=======================================================*/
.playfair{
  font-family: 'Playfair Display', serif !important;
}

$playfair: 'Playfair Display', serif !important;

.roboto{
  font-family: 'Roboto', sans-serif;
}

$roboto:'Roboto', sans-serif;

.open-sans{
  font-family: 'Open Sans', sans-serif;
}

$open-sans:'Open Sans', sans-serif;

.bold{
  font-weight:900 !important;
  color: $black;
}

.text--white{
  color: $light-gray;
  font-weight:300;
}

.text--bold-gray{
  font-weight:700;
  color: $medium-gray !important;
}

.text-align--right{
  text-align:right !important
}

.text-align--left{
  text-align:left !important
}

.text-align--center{
  text-align:center !important
}

.text--blue-gray{
  color:$blue-grayer !important;
}

.text--red{
  color: $red !important;
}

@mixin text-number-big{
  display:inline-block;
  color:$blue;
  font-weight:700;
  font-size:40px;
  margin:0px;
}

h1, h4, h6 {font-family: 'Open Sans', sans-serif;}
h2, h5{font-family: 'Playfair Display', serif;}
h3, p {font-family: 'Roboto', sans-serif; font-weight:700;}

p {
  font-size: 20px;
   font-weight:100 !important;
   color:$medium-black;
   display:inline;
   letter-spacing: 0.03em;
}

h1{
  letter-spacing: 0.03em;
}

h2{
  font-weight:400;
  font-size:36px;
}

h3{
  font-size:28px;
  line-height:1.2;
  font-weight:700;
  margin:0px;

}

h4{
  font-size:20px;
  color:$light-black;
}

h5{font-size:24px;}


h6{
  font-size:13px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height:1.2;
  font-weight:700;
}


/*=======================================================
GENERAL BLOCKS
=======================================================*/

.block--max-width{
  @include max-width;
  display:block;
  margin:auto;
}

.block--padded{
  padding: 50px 0px 0px 0px;
}

@mixin row--text-center{
  display:block;
  margin:auto;
  text-align:center;
  margin-bottom:10px;
  margin-top:10px;
  width:95%;
  padding:10px 0px;
}

.no-padding{
  padding: 0px !important;
}


@mixin block-center{
  display:block;
  margin:auto;
}


/*=======================================================
GENERAL COLOR MODIFIES
=======================================================*/
.background--light-blue{
  background-color: $light-blue;
}

/*=======================================================
GENERAL BUTTONS
=======================================================*/

.button-continue{
  background-color: $black;
  color:$white;
  padding:5px 10px;
  display:block;
}


/*=======================================================
PAGE containers
=======================================================*/

#main-container{
  padding: 0px 0% 0px 0px;
  min-height:100vh;
  background-color:$light-blue;
}




























