/*=======================================================
COLORS
=======================================================*/
$white: #fff;
$light-gray: #fcfcfc;
$gray: #EEEEEE;
$medium-gray: #D8D8D8;
$dark-gray: #bdbdbd;
$light-black: #a4a4a4;
$medium-black: #6E6E6E;
$dark-black: #585858;
$black: #2E2E2E;

$light-blue: #f5f8fa;
.light-blue{background-color:$light-blue !important}

$blue: #00c0f3;
$medium-blue: #8BDAF0;
$blue-gray: #486373;
$blue-grayer: #516b7a;

/* Budget section styling */
$green: #A9F5A9;
$budget-blue: #8EE1FA;
$red: #F5A9A9;

.budget-color-fixed{
  color: $budget-blue !important;
}

.budget-color-variable{
  color: $red !important;
}

.budget-color-savings{
  color: $green !important;
}


/*=======================================================
MEASUREMENTS
=======================================================*/

$navbar-height: 10vh;
$main-padding:2vh;
$max-width:1300px;

@mixin max-width{
  max-width:$max-width;
}

/*=======================================================
TESTING
=======================================================*/

code{
  width:90%;
  line-height:1.2em;
  height:1000px;
}


.testing{
  color: $blue;
  text-transform: uppercase;
}

/*=======================================================
GENERAL MIXINS
=======================================================*/

@mixin dotted-bottom-border {
  border-bottom: 1px dotted $light-black;
}

@mixin number-with-border{
  border:3px solid $blue;
  padding:50px 20px;
  border-radius: 50%;
}

.text-align--right{
  text-align:right !important
}

.text-align--left{
  text-align:left !important
}

.text-align--center{
  text-align:center !important
}

/*=======================================================
GENERAL
=======================================================*/


body{
  font-family: 'Open Sans', sans-serif;
  background-color:$light-gray;

}

hr{
  margin:5px;
}

  .line--thick-blue{
    border-top:3px solid $blue;
  }





/*=======================================================
TEXT/FONTS
=======================================================*/
.playfair{
  font-family: 'Playfair Display', serif !important;
}

$playfair: 'Playfair Display', serif !important;

.roboto{
  font-family: 'Roboto', sans-serif;
}

$roboto:'Roboto', sans-serif;;


.bold{
  font-weight:900 !important;
  color: $black;
}

.text--white{
  color: $light-gray;
  font-weight:300;
}

.text--bold-gray{
  font-weight:700;
  color: $medium-gray !important;
}

h1, h4 {font-family: 'Open Sans', sans-serif;}
h2, h5{font-family: 'Playfair Display', serif;}
h3, h6, p {font-family: 'Roboto', sans-serif; font-weight:700;}

p {
  font-size: 20px;
   font-weight:100 !important;
   color:$medium-black;
   display:inline;
   letter-spacing: 0.03em;
}

h1{
  letter-spacing: 0.03em;
}

h2{
  font-weight:400;
  font-size:36px;
}

h3{
  font-size:28px;
  line-height:1.2;
  font-weight:700;
  margin:0px;

}

h4{
  font-size:20px;
}

h5{font-size:22px;}


h6{
  font-size:12px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height:1.2;
}


/*=======================================================
GENERAL BLOCKS
=======================================================*/

.block--max-width{
  @include max-width;
  display:block;
  margin:auto;
  min-height:100vh;
  padding-top:50px;
}

.block--padded-15{
  padding: 30px;
}


@mixin block-center{
  display:block;
  margin:auto;
}


/*=======================================================
GENERAL COLOR MODIFIES
=======================================================*/
.background--light-blue{
  background-color: $light-blue;
}

/*=======================================================
GENERAL BUTTONS
=======================================================*/

.button-continue{
  background-color: $black;
  color:$white;
  padding:5px 10px;
  display:block;
}