

@media(min-width: 991px){
  #home-container{
     background: $light-gray; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(top, $blue-gray , $light-gray) !important; /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(bottom, $blue-gray, $light-gray) !important; /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(bottom, $blue-gray, $light-gray) !important; /* For Firefox 3.6 to 15 */
    // background: linear-gradient(to bottom, $blue-gray , $light-gray) !important; /* Standard syntax (must be last) */
    height:101vh;

  }
}

#home-container{
   // background: red; /* For browsers that do not support gradients */
   //  background: -webkit-linear-gradient(bottom, $medium-blue , $light-gray); /* For Safari 5.1 to 6.0 */
   //  background: -o-linear-gradient(bottom, $medium-blue, $light-gray); /* For Opera 11.1 to 12.0 */
   //  background: -moz-linear-gradient(bottom, $medium-blue, $light-gray); /* For Firefox 3.6 to 15 */
   //  background: linear-gradient(to bottom, $medium-blue , $light-gray); /* Standard syntax (must be last) */
  padding:0px 50px;


  #home-banner{
    text-align:center;
    padding-top:40px;
  }


  h1{
    color:$blue-grayer;
    font-size:32px;
    font-weight:700;
    line-height:1.2 !important;
    text-transform: capitalize;
  }

  h3{
    color:$medium-black;
    font-weight:400 !important;
    letter-spacing:0.03em;
  }

  h4{
    color:$light-blue;
    line-height:1.3;
    font-size:20px;
  }

  h5{
    margin-top:20px;
  }

  p{
    color:$medium-black;
    display:block;
    line-height:1.5;
    padding:0px 0px 0px 3px;
  }

  li{
    list-style:none;
    padding-left:20px;
    margin-top:10px;
  }


  hr{
    margin:40px 0px 15px 0px;
  }

  video{
    width:100%;
    max-width:600px;
    display:block;
    margin:auto;
    margin-top:40px;
    border:5px solid $white;
    border-radius:5px;
    -webkit-box-shadow: 0px 8px 38px -3px rgba(164,164,164,1);
-moz-box-shadow: 0px 8px 38px -3px rgba(164,164,164,1);
box-shadow: 0px 8px 38px -3px rgba(164,164,164,1);
  }
}

#home-form{
  padding-top:40px;
}

#home__content{
  padding:30px 0px;
}


.home__textarea{
  display:block;
  margin:auto;
  font-weight:400;
  font-size:18px;
  display:block;
  width:100%;
  float:left;
  border:1px solid $gray;
  border-radius:5px;
  padding:20px;
  margin-bottom:10px;

  &:focus, &:active{
    outline: $white;
    -webkit-box-shadow: 0px 8px 38px -6px rgba(252,252,252,1);
-moz-box-shadow: 0px 8px 38px -6px rgba(252,252,252,1);
box-shadow: 0px 8px 38px -6px rgba(252,252,252,1);
  }
}

.home__email-input{
  @extend .home__textarea;
}