
$overlay: rgba(0,0,0,0.45);


@media(min-width: 991px){
  #home-container{
     background: $light-gray; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(top, $blue-gray , $light-gray) !important; /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(bottom, $blue-gray, $light-gray) !important; /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(bottom, $blue-gray, $light-gray) !important; /* For Firefox 3.6 to 15 */
    // background: linear-gradient(to bottom, $blue-gray , $light-gray) !important; /* Standard syntax (must be last) */
    height:101vh;

  }
}

#home-container{
  background-color: $white;
  padding:0px;

  nav{
     background: transparent !important;
    border-bottom: 0.01em solid $light-blue;
    height:60px;
    color:$white;

    .navbar-brand{
      background-image:url("images/fjf-logo-wide.png") !important;
      background-size:contain;
      background-position:center;
      background-repeat: no-repeat;
      margin: 10px 0px 0px 10px !important;
      width:160px;
      height:40px;
    }


    .nav-link{
      color:$white !important
    }

    .navbar-toggle{
      border:0px solid $white;
      margin:5px 20px 0px 0px;

      .icon-bar{
        background-color: $white;
        height:0.1em;
        margin-top:6px;
      }
    }

    ul{
      float:right;
    }

    li{
      width:100%;
      text-align:center;
      padding-right:30px;
    }
  }


  #home-banner{
    overflow: hidden;
    background-image: url("images/home-main.jpeg");
    background-size: cover;
    background-position: right;
    background-repeat: none;
    height: 400px;
    height: 100vh;

    .banner__overlay{
      background:$overlay;
      padding:50px 0px 20px 0px;
      height:100%;
    }

    .banner__content{
       z-index:1000;
      display:block;
      width:80%;
      margin:auto;
      text-align:left;


      h5{
        // @include home-text;
        color:$white;
        margin-top:10vh;
        font-weight:400;
        font-size:30px;
        line-height: 35px;
        padding-top:10px;
        font-family:$playfair;
      }
    }
  }

  #demo-btn{
    text-align:center;
  }


  h1{

  }

  h3{
    color:$medium-black;
    font-weight:400 !important;
    letter-spacing:0.03em;
  }

  h4{
    color:$light-blue;
    line-height:1.3;
    font-size:20px;
  }

  h5{
    margin-top:20px;
  }

  p{
    color:$light-gray;
    // @include home-text;
    line-height:1.5;
    padding:0px 0px 0px 3px;
    margin-top:10px;
    font-weight:100 !important;

  }

  hr{
    margin:40px 0px 15px 0px;
  }

  video{
    width:100%;
    max-width:600px;
    display:block;
    margin:auto;
    margin-top:40px;
    border:5px solid $white;
    border-radius:5px;
    -webkit-box-shadow: 0px 8px 38px -3px rgba(164,164,164,1);
-moz-box-shadow: 0px 8px 38px -3px rgba(164,164,164,1);
box-shadow: 0px 8px 38px -3px rgba(164,164,164,1);
  }
}

#home-form{
  padding-top:40px;
  width:100%;
  max-width:$form-max-width;
}

#home__content{
  padding:30px 0px;
}


.home__textarea{
  display:block;
  margin:auto;
  font-weight:400;
  font-size:18px;
  display:block;
  width:100%;
  float:left;
  border:1px solid $gray;
  border-radius:5px;
  padding:20px;
  margin-bottom:10px;

  &:focus, &:active{
    outline: $white;
    -webkit-box-shadow: 0px 8px 38px -6px rgba(252,252,252,1);
-moz-box-shadow: 0px 8px 38px -6px rgba(252,252,252,1);
box-shadow: 0px 8px 38px -6px rgba(252,252,252,1);
  }
}

.home__email-input{
  @extend .home__textarea;
}




@media(min-width: 768px){

#home-banner{

  .banner__overlay{

  }

  nav{


    .nav-link{

    }

    .navbar-brand{
      background-image:url("images/fjf-logo-wide.png") !important;
      background-size:contain;
      background-position:center;
      background-repeat: none;
      margin: 10px 0px 0px 10px !important;
    }

    #demo-btn{
      list-style: none;
      line-height: 60px;
      padding: 0px 20px 0px 25px;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      border-left: 1px solid #fff;
    }
  }

  #home-banner{
    background-image:url("images/home-main.jpeg");
    background-size:100% auto;
    background-position:center;
    background-repeat: none;
    height:100vh;
  }

  h1{
    color:$white !important;
    font-size:40px;
  }
}
}