<h1>Pre-Tax</h1>
<hr>

<h3>What It Is</h3>

<p>
  "Pre-tax" means "before taxes".
</p>

 <p>It's most often put in front of the words "income" and "dollars" to talk about an amount of money you haven't paid taxes on <strong>yet,</strong> or will never have to.</p>

<h3>Why It Matters</h3>

<p>
  <ul>
    <li>If you can save/spend with "pre-tax" dollars, that means you get more bang for your buck. The government let's you use <i><u>all of your money</u></i>, rather than just some of it.</li>
    <li>If the IRS (the part of government in charge of taxes) lets do something with pre-tax dollars, like save for retirement, it means they want to encourage you to do that thing.</li>
    <li>Many types of retirement savings and employee benefits are pre-tax.</li>
  </ul>
</p>


 <h3><i>Examples</i></h3>
 <p>Beth has a 401(k) plan, which allows her to save for retirement using <i>pre-tax</i> income. The rest of her income will be taxed, though.</p>
 <p>Steve's employer let's him buy a $100 bus pass with <i>pre-tax</i> dollars - it's a <i>pre-tax benefit</i>. If his employer didn't offer this benefit, Bill would have to earn more than $100 to pay for the $100 bus pass, because his income would be taxed before he could pay for the bus pass. </p>

{{button-continue link='guides.estimate-take-home-pay.module2.section2' text='Continue'}}



<h3>Related Concepts and Links</h3>