/*=======================================================
Cards  & Portals
=======================================================*/

$card-width-inner: 85%;
$card-max-width: 350px;
$card-height: 160px;
$card-padding-vertical: 10px;

@mixin card-text{
  width:$card-width-inner;
  display:block;
  margin:auto;
}

.card-container{
  padding:20px 1%;
  background-color: $light-blue;
  width:100%;
  min-height:90vh;

  @media(max-width: 768px){
    .button-group{
      display:block;
      overflow:auto;
      white-space:nowrap;
    }
  }
}

.card__coming-soon{
  width:100%;
  background-color:$blue-grayer;
  text-align:center;
  padding:10px;
  color:$gray;
  margin:0px;
  bottom:0;
  position:absolute;
}


