/*==============
Guide-Sidebar */

#sidebar-wrapper{
   background-color: $blue-gray;

  #guide-title-container{
    width:100%;
    padding:3px 15px 15px 15px;
    display:block;
    margin:auto;
    margin-bottom:20px;
    background-color:$white;
    height:70px;



    #guide-title a{
      color:$dark-black;
      line-height:1;
      text-transform: uppercase;

      &:hover{
        text-decoration:none;
      }

      &:active{
        text-decoration:none;
      }
    }
  }

  ul{

  }

  li{
    text-align:left;
    text-transform: capitalize;
    display:block;
    margin:auto;


    &:hover{
      cursor:pointer;
    }
  }

  .sidebar-module{
     line-height:1.2em;
      color:$white;
      padding:5px;
      margin-top:15px;
      letter-spacing: .05em;
      width:280px;
      border-bottom: 2px solid $blue;
  }

  .sidebar-section{
     line-height:1.2em;
     font-weight:400;
     padding:7px 15px;
     color:$white;
      width:280px;
      border-bottom:1px dotted $blue-grayer;

  }
}
