

nav{
  background-color:$dark-black;
  border-radius:0px !important;

  a{
    color:$medium-black;

    &:hover{
      background-color:transparent !important;
      color: $dark-gray;
      text-decoration: none;
    }

    &:active{
      background-color:transparent !important;
      color: $dark-gray;
      text-decoration: none;
    }

    &:focus{
      background-color:transparent !important;
      color: $dark-gray;
      text-decoration: none;
    }

    ul{
      padding:0px;
    }
  }

  .fa {
    color:$blue-gray;
  }


  .navbar-toggle{
    border:1px solid $dark-gray;

    .icon-bar{
      z-index:1000;
      background-color:$dark-gray;
    }
  }


  .nav-item{
    list-style:none;
    line-height:45px;
    padding:5px 20px 0px 20px;
    font-family: $roboto;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }


  .navbar-brand{
      color:$dark-gray;
      font-weight:700;
      padding:5px 15px !important;

      &:hover{
        color:$black !important;
      }
  }



 #home-icon{
    // float:right;

    &:hover{
      cursor: pointer;
    }
  }
}