
$nav-height: 9vh;

nav{
  background-color:$white;
  width:100%;
  height:$nav-height;
  min-height:60px;
  border-bottom:1px solid $black;
  padding:5px 0px 0px 0px;

  a{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    letter-spacing: 0.06em;
    color:$dark-black;

    &:hover{
      background-color:transparent !important;
      color: $blue;
    }

    &:active{
      background-color:transparent !important;
      color: $blue;
    }

    &:focus{
      background-color:transparent !important;
      color: $blue;
    }
  }
}

 .navbar{
  border-bottom:1px solid $medium-gray;
  margin-right:0px !important;

    .fa{
      color:$blue-gray;
    }
 }

 .navbar-brand{
    color:$black;

    &:hover{
      color:$black !important;
    }
 }

 #home-icon{
    float:right;

    &:hover{
      cursor: pointer;
    }
  }