<h2>Why You Should Estimate Your Take-Home Pay, <strong><i>especially</i></strong> before your first paycheck</h2>
<hr>

<br>
<p>
  So you landed a job, or expect to soon, and have a ton of questions on your mind.<br><br>
  <ul>
    <li>How much money can I spend once I start working?</li>
    <li>How should I start to budget for adult life?</li>
    <li>How much should I save a year? From each paycheck?</li>
    <li>What rent can I afford?</li>
    <li>How much will I have to pay in taxes?</li>
  </ul><br>

  It's tough to even begin tackling these questions without some sort of starting point.<br><br>

  That starting point is your <i>take-home pay</i>, a.k.a. the dollar amount that actually hits your bank account and is available to spend on rent, food, etc. <strong>You may be expecting a $40,000 salary, but you definitely won't have $40,000 to spend and save.</strong><br><br>

  By the end of this guide, you'll have a solid estimate of your take-home pay and learn a ton of stuff that you'll need to know for the "real world".<br><br>
</p>

{{button-continue link='guides.estimate-take-home-pay.module1.section1' text='First Step - Understand Gross Income'}}




