<h1>Payroll Period</h1>

<button {{action 'updatePayPeriod' 'monthly'}}>
  Monthly
</button><br>

<button {{action 'updatePayPeriod' 'semi-monthly'}}>
  Semi-Monthly
</button><br>

<button {{action 'updatePayPeriod' 'bi-weekly'}}>
  Bi-Weekly
</button><br>

<button {{action 'updatePayPeriod' 'weekly'}}>
  Weekly
</button><br>
