<h1>What you need to know about retirement plans</h1>
<hr>

<p>Your job will likely provide a retirement plan. These are often called <i>employer-provided retirement plans</i>.</p>

<p>A retirement plan is an investment account with special characteristics that help you save up for retirement.</p>

<p><strong>Here are the need-to-know aspects of employer-provided retirement plans.</strong></p>

  <p><ul>
    <li><u>Pre-tax savings</u> - you can save money from your paycheck that hasn't been taxed yet and add it to your retirement account. You won't get taxed until you take the money out of the account at retirement.</li>
    <li>Roth savings</li>
    <li><u>Employ<strong>ee</strong> Contribution</u> - </li>
  </ul></p>
<hr>


<h3>Types of plans</h3>

<p>401(k)'s are the most common type of employer-provided plan.</p>

<p>If you work for the government or a non-profit, you'll likely have a 403(b) plan, which is pretty much exactly like a 401(k).</p>

<p>Other plans that</p>

<hr>
