<h1>How frequently will you get paid?</h1>


{{button-group
  currentSelected=model.payPeriod
  updateSelect=(route-action 'updatePayPeriod')
  buttons=payFrequencyButtons
}}


<p>If you already landed a job, then your "payroll period" should be somewhere on your offer letter or employee agreement. Can't find it? Simply reach out to your future boss and ask - they'll be glad you're thinking ahead! </p>


<h3>Not sure?</h3>
{{#if (eq model.incomeType 'hourly')}}
    <p><strong>Pick bi-weekly.</strong></p>
{{else}}
    <p><strong>Pick semi-monthly.</strong></p>
{{/if}}