<h1>Gross Income</h1>
<hr>

<h3>What It Is</h3>

<p>
  Gross income is how much money you make. Gross <i>annual</i> income is how much you make in a year.<br>

  <ul>
    <li><strong>If you're paid a salary,</strong> then your gross annual income is salary plus any bonuses, commisions, overtime, etc.</li>
    <li><strong>If you're paid hourly,</strong> then your gross annual income equals how much you make an hour, times the number of hours you work in the week, times how many weeks you work in the year.</li>
  </ul>

  <hr>
    The term <i>gross</i> means "pre-tax" or "before taxes".
  <hr>
</p>

<h3>Why It Matters</h3>

<p>
  <ul>
    <li>Gross income is the first step in determing your take-home pay.</li>
    <li>Your gross income will largely determine your tax bill.</li>
    <li>When it comes to saving for retirement, the amount you save is usually expressed as a percentage of gross income. So when you hear "I'm contributing 5% to my 401k," think "saving 5% of gross income."  </li>
    <li>It's a technical term you'll see throughout your life, so best to understand it <i>when</i> it comes up.</li>
  </ul>
</p>

{{button-continue link='guides.estimate-take-home-pay.module1.section2' text='Continue'}}


<h6><i>Technically, gross income includes not just the money you earn from your job, but also investment gains/income and a slew of other receipts of money. But since you're young, you probably only have income related to your work. Investment earnings should be going toward savings anyway!</i></h6>




<h3>Related Concepts and Links</h3>