{{main-nav}}

<div class="container--main block--scrollable checklist__container">
  {{checklist-container
    checklistsInfo=model.checklistsInfo
    checklistItemsCompleted=model.checklistItemsCompleted
  }}
</div>


 {{!--  updateChecklistItemsCompleted=(route-action "updateChecklistItemsCompleted") --}}
