{{main-nav}}
<div class="container container--main card-container">
  <div class="col-md-12 block--scrollable block--max-width">
    <div id="files-container">
      <h1>Coming Soon!</h1>
      <p>When we build the real app, you'll be able to...</p>
      <ul>
        <p>
          <li>Fill up your vault of vital documents, scans, and other files</li>
          <li>Link up to Google Drive</li>
          <li>Access a list important documents that are essential to add to your files </li>
        </p>
      </ul>
    </div>
  </div>
</div>
