<main>
  <div id="main-container" class="container-fluid">
    <div class="block--max-width block--padded row">

      <div class="col-md-8">
        {{card-container
          filterButtons=filterButtons
          cards=cards
        }}
      </div>
      {{!-- <div class="col-md-4">
        Sign Up
      </div> --}}

    </div>
  </div>
</main>

