<div class="home">
  <div id="home-container">
    <div id="home-banner" class="row">
      {{home-nav}}

        <div class="banner__overlay">
          <div class="banner__content">

          <div class="banner__headline">
            <h5>
              Stress less about your personal finances
            </h5>
            <p>
              First Job Finance helps you get better at adulting. Through simple tools, checklists, and support from a CERTIFIED FINANCIAL PLANNER&trade;, you'll feel more in control of your personal finances.
            </p>
          </div>

            <div id="home-form" class="col-12">
              {{form-email}}
            </div>

          </div> {{!-- banner content --}}
        </div> {{!-- banner overlay --}}

    </div> {{!-- home banner --}}
  </div> {{!-- home-container --}}
</div>



