<div class="container--main home">
  <div id="home-container">

      <div id="home-banner" class="row">

        {{main-nav}}

        <div class="banner__overlay">
          <div class="banner__content">

            <h1>Manage your financial stress with
             First Job Finance
            </h1>



          </div> {{!-- banner image --}}
        </div>
      </div>

      <strong>MAKE THE NAVBAR TRANSPARENT ON THIS PAGE!!!
      FULL WIDHT IMAGE</strong>

      <div id="home-form" class="col-12">
        {{form-email}}
      </div>

  </div>
</div>



