<div class="container--main home">
  <div id="home-container" class="block--max-width">

    <div class="row">

      <div class="col-12">
        <video autoplay>
          <source src="/assets/images/rainy-day-fund-preview.mp4" type="video/mp4">
        </video>
      </div>

      <div id="home-form" class="col-12">
        {{form-email}}
      </div>


    </div>






    <div id="home-banner" class="row">
      <h1>Manage your financial stress with
        <span class="text--blue-grayer">First Job Finance</span>
      </h1>
    </div>


  </div>
</div>



