{{main-nav}}

<main>
  <div id="home-container" class="container-fluid">
    <div class="block--max-width row">

      {{card-container
        filterButtons=filterButtons
        cards=cards
      }}

    </div>
  </div>
</main>

