<div id="landing">

  {{home-nav}}

  {{!--=================== Top banner ========================--}}
  <div id="landing-banner" class="row">
    <div class="landing__banner__inner-cont">

      <div class="col-md-8 landing__banner__text">
        <h3>Take on the real world with confidence.</h3>
        <h6>First Job Finance helps you <strong>get better at adulting.</strong> Through simple tools, checklists, and support from a CERTIFIED FINANCIAL PLANNER™, you'll be more in control of your personal finances.</h6>
      </div>

      {{!-- Through simple tools, checklists, and support from a CERTIFIED PUBLIC PLANNER, First Job Finance will help you figure out how to thrive within a budget and learn how you want to plan now for your future. --}}

      <div class="col-md-4">
        <div class="landing__doc-preview"></div>
        <div id="home-form">
            {{form-email}}
        </div>
      </div>

    </div> {{!-- inner cont --}}
  </div> {{!-- landing banner --}}


  {{!--=================== Every step of the way ========================--}}
  <div id="landing-every-step" class="row landing__section landing__section--blue">
    <div class="section__inner-cont container">
     <h1> Be prepared, every step of the way. </h1>
      <div class="row">
        <div class="landing2__stages"> <p> School </p></div>
        <div class="landing2__stages"> <p> Graduation </p></div>
        <div class="landing2__stages"> <p> Post grad, Pre Work </p></div>
        <div class="landing2__stages"> <p> First Week on the Job  </p></div>
        <div class="landing2__stages"> <p> <strong>Beyond</strong> </p></div>
      </div>
    </div> {{!-- inner cont --}}
  </div>

  {{!--=================== Features Headline ========================--}}
  {{!-- <div id="landing-features-headline" class="row landing__section">
    <div class="section__inner-cont container">

      <h1>Do more, stress less</h1><br>


    </div>
  </div> --}}

  {{!--=================== Feature - Portal ========================--}}
  <div id="landing-feature-portal" class="row landing__section landing__section--feature">
    <div class="section__inner-cont container">

      <div class="col-md-6">
        <video class="feature__video" autoplay loop>
          <source src="assets/videos/fjf_demo_portals.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="col-md-6 feature__desc">
        <h3>All of your web portals, one click away.</h3>
        <p>
          Save links to your accounts, credit cards, utilities, and services in one easy-to-use hub.
        </p>
        <p>
          See how long it's been since you last visited each site and <strong>never forget to check on them again.</strong>
        </p>
        <button class="feature__btn"><a href="/portals">Try it out</a></button>
      </div>

    </div> {{!-- inner cont --}}
  </div> {{!-- landing-feature-portal --}}

  {{!--=================== Feature - Budget ========================--}}
  <div id="landing-feature-budget" class="row landing__section landing__section--blue landing__section--feature">
    <div class="section__inner-cont container">

      <div class="col-md-6">
        <video class="feature__video" autoplay loop>
          <source src="assets/videos/fjf_demo_budget.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

     <div class="col-md-6 feature__desc">
        <h3>Easily budget for tough decisions.</h3>
        <p>
          Budgets are a moving target when first heading out on your own.
        </p>
        <p>
          You need a <strong>budgeting tool that's as flexible as you</strong>, able to adjust just as quickly as the details of your new phase in life.
        </p>
        <button class="feature__btn"><a href="/tools/budget">Try it out</a></button>
      </div>

    </div> {{!-- inner cont --}}
  </div> {{!-- landing-feature --}}

  {{!--=================== Feature - Calculators ========================--}}
  <div id="landing-feature-checklists" class="row landing__section landing__section--feature">
    <div class="section__inner-cont container">

      <div class="col-md-6">
        <video class="feature__video" autoplay loop>
          <source src="assets/videos/fjf_demo_calculator.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="col-md-6 feature__desc">
        <h3>Explore your options. Plan for what's next.</h3>
        <p>
          At this hectic stage in life, planning feels a whole lot like guessing.
        </p>
        <p>
          That's why you need an arsenal of tools and calculators to help you <strong>understand your financal goals and ultimately reach them.</strong>
        </p>
        <button class="feature__btn"><a href="/calculators/estimate-take-home-pay">Try It Out</a></button>
      </div>

    </div>
  </div>

  {{!--=================== Feature - Checklists ========================--}}
  <div id="landing-feature-checklists" class="row landing__section landing__section--blue landing__section--feature">
    <div class="section__inner-cont container">

      <div class="col-md-6">
        <video class="feature__video" autoplay loop>
          <source src="assets/videos/fjf_demo_checklists.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

     <div class="col-md-6 feature__desc">
        <h3>Checklists for everything. No seriously, everything.</h3>
        <p>
          There's just so much to do, it's hard to keep track of it all. Let checkists be your guide!
        </p>
        <p>
          <strong>You'll do more, stress less, and stay on top of what matters.</strong>
        </p>
        <button class="feature__btn"><a href="/tools/budget">Try it out</a></button>
      </div>

    </div> {{!-- inner cont --}}
  </div> {{!-- landing-feature --}}

   {{!--=================== ABOUT ME ========================--}}
  <div id="landing-ryan" class="row landing__section">
    <div class="section__inner-cont container">



    </div>
  </div>







</div> {{!-- landing --}}

