<div class="container--main home">
  <div id="home-container">
    <div id="home-banner" class="row">
      {{home-nav}}

        <div class="banner__overlay">
          <div class="banner__content">

            <h5>
              Stress less about your personal finances
            </h5>
            <p>
              First Job Finance provides tools and support to adults in progress.
            </p>


            <div id="home-form" class="col-12">
              {{form-email}}
            </div>



          </div> {{!-- banner content --}}
        </div> {{!-- banner overlay --}}

    </div> {{!-- home banner --}}
  </div> {{!-- home-container --}}
</div>



