<div class="container container--main card-container">
  <div class="col-md-12 block--scrollable block--max-width">
    {{card-container
      cards=model
      cardComponentType="portal"
      addCard=(route-action 'addPortal')
    }}
  </div>
</div>


